h1 {
  font-size: 80px;
}

.center {
  text-align: center;
  float: none;
  display: inline-block;
}

.panel {
  max-width: 563px;
}

.glyphicon-star {
  color: gold;
}

.reviews {
  padding-bottom: 100px ;
}

.star-selector {
  width: 80%;
  text-align: center;
  margin: auto;
}

.review-form {
  text-align: center;
  margin: auto;
}

.ng-invalid.ng-dirty {
 border-color: #FA787E;
}

.ng-valid.ng-dirty {
 border-color: #78FA89;
}

.form-control {
  margin-bottom: 10px;
}
