<!DOCTYPE html>
<html ng-app="virtualCookbook">
  <head>
    <meta charset="utf-8"/>
    <title>Virtual Cookbook</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="CookbookController as cookbook">
    <header>
      <h1 class="text-center">Virtual Cookbook</h1>
      <h3 class="text-center">– An Angular Application –</h3>
    </header>
    <div class="list-group">
      <div class="list-group-item" ng-repeat="recipe in cookbook.recipes | orderBy:'+name'">
        <h1 class="text-center">{{recipe.name}}</h1>
        <h3 class="text-center">Price: {{recipe.price | currency}}
        <div class="img-wrap">
          <img ng-src="{{recipe.image}}" class="img-thumbnail center-block"/>
        </div>
        <section ng-controller="PanelController as panel" class="center">
          <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }">
              <a ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a ng-click="panel.selectTab(2)">Ingredients</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
              <a ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>
          <div ng-show="panel.isSelected(1)" class="panel">
            <blockquote class="text-left">
              <h4>Description:</h4>
              <p>{{recipe.description}}</p>
            </blockquote>
          </div>
          <div ng-show="panel.isSelected(2)" class="panel">
            <blockquote class="text-left">
              <h5>Ingredients:</h5>
              <ul ng-repeat="ingredient in recipe.ingredients">
                <li>{{ingredient}}</li>
              </ul>
            </blockquote>
          </div>
          <div ng-show="panel.isSelected(3)" class="panel">
            <blockquote class="text-left">
              <h5>Reviews:</h5>
              <li ng-repeat="review in recipe.reviews">
                <strong>{{review.stars}} Stars</strong>
                <p>{{review.body}}</p>
                <cite class="clearfix">-{{review.author}} on {{review.createdOn | date:'MM/dd/yyyy @ h:mma'}}</cite>
              </li>
            </blockquote>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
