<section class="center">
  <ul class="nav nav-pills">
    <li ng-class="{ active: panel.isSelected(1) }">
      <a ng-click="panel.selectTab(1)">Description</a>
    </li>
    <li ng-class="{ active: panel.isSelected(2) }">
      <a ng-click="panel.selectTab(2)">Ingredients</a>
    </li>
    <li ng-class="{ active: panel.isSelected(3) }">
      <a ng-click="panel.selectTab(3)">Reviews</a>
    </li>
  </ul>
  <div ng-show="panel.isSelected(1)" class="panel">
    <blockquote class="text-left">
      <h4>Description:</h4>
      <p>{{recipe.description}}</p>
    </blockquote>
  </div>
  <div ng-show="panel.isSelected(2)" class="panel">
    <blockquote class="text-left">
      <h4>Ingredients:</h4>
      <ul ng-repeat="ingredient in recipe.ingredients">
        <li>{{ingredient}}</li>
      </ul>
    </blockquote>
  </div>
  <div ng-show="panel.isSelected(3)" class="panel reviews">
    <blockquote class="text-left">
      <h4>Reviews:</h4>
      <li ng-repeat="review in recipe.reviews">
        <p>
          <strong>
            {{review.stars}}
            <span class="glyphicon glyphicon-star"></span>
          </strong>
        </p>
        <p>{{review.body}}</p>
        <cite class="clearfix">
          -{{review.author}} on
           {{review.createdOn | date:'MM/dd/yyyy @ h:mma'}}
        </cite>
        <hr>
      </li>
    </blockquote>
    <form name="reviewForm" ng-controller="ReviewController as reviews"
          ng-submit="reviewForm.$valid && reviews.addReview(recipe)"
          novalidate>
      <h4>----- Submit a Review -----</h4>
      <blockquote class="text-left">
        <p ng-show="reviews.review.stars">{{reviews.review.stars}}
          <span class="glyphicon glyphicon-star"></span>
        </p>
        <p ng-show="reviews.review.body">{{reviews.review.body}}</p>
        <p ng-show="reviews.review.author"><cite> by-{{reviews.review.author}}</cite></p>
      </blockquote>
      <div class="reviewForm">
        <select ng-model="reviews.review.stars"
                class="form-control" required>
          <option value="">Rate this Recipe</option>
          <option value="1">1 Star</option>
          <option value="2">2 Star</option>
          <option value="3">3 Star</option>
          <option value="4">4 Star</option>
          <option value="5">5 Star</option>
        </select>
        <textarea ng-model="reviews.review.body" class="form-control"
                  placeholder="Type your review here." required>
        </textarea>
        <input ng-model="reviews.review.author" type="email"
               class="form-control" placeholder="Type your email here."
               required>
        </input>
        <input class="btn btn-primary" type="submit"
               value="Submit Review" />
      </div>
    </form>
  </div>
</section>
