<div class="panel reviews">
  <blockquote class="text-left">
    <h4>Reviews:</h4>
    <li ng-repeat="review in recipe.reviews">
      <p>
        <strong>
          {{review.stars}}
          <span class="glyphicon glyphicon-star"></span>
        </strong>
      </p>
      <p>{{review.body}}</p>
      <cite class="clearfix">
        -{{review.author}} on
         {{review.createdOn | date:'MM/dd/yyyy @ h:mma'}}
      </cite>
      <hr>
    </li>
  </blockquote>
  <form name="reviewForm" ng-controller="ReviewController as reviews"
        ng-submit="reviewForm.$valid && reviews.addReview(recipe)"
        novalidate>
    <h4>----- Submit a Review -----</h4>
    <blockquote class="text-left">
      <p ng-show="reviews.review.stars">{{reviews.review.stars}}
        <span class="glyphicon glyphicon-star"></span>
      </p>
      <p ng-show="reviews.review.body">{{reviews.review.body}}</p>
      <p ng-show="reviews.review.author"><cite> by-{{reviews.review.author}}</cite></p>
    </blockquote>
    <div class="reviewForm">
      <select ng-model="reviews.review.stars"
              class="form-control" required>
        <option value="">Rate this Recipe</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star</option>
        <option value="3">3 Star</option>
        <option value="4">4 Star</option>
        <option value="5">5 Star</option>
      </select>
      <textarea ng-model="reviews.review.body" class="form-control"
                placeholder="Type your review here." name="body" required>
      </textarea>
      <span style="color:red" ng-show="reviewForm.body.$dirty && reviewForm.body.$invalid">
        <span ng-show="reviewForm.body.$error.required">Username is required.</span>
      </span>
      <input ng-model="reviews.review.author" type="email"
             class="form-control" placeholder="Type your email here."
             name="email" required>
      </input>
      <span style="color:red" ng-show="reviewForm.email.$dirty && reviewForm.email.$invalid">
        <span ng-show="reviewForm.email.$error.required">Email is required.</span>
        <span ng-show="reviewForm.email.$error.email">Invalid email address.</span>
      </span>
      <input class="btn btn-primary" type="submit" value="Submit Review">
      </input>
    </div>
  </form>
</div>
